button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  margin: 0.25em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
  border: 1px solid #000;
  transition: transform 0.25s;
}

button:hover {  
  transform: scale(1.1);
}
