  .sidebar-main {
    height: 100%;
    background-color: rgba(45, 55, 72, 0.8);
    align-items: center;
    position: fixed;
    left: 0;
    top: 48px;
    transition: all 0.1s linear;
    width: 50px;
    grid-column: 1 / 2;
  }

  .sidebar-main.sidebar-open {
    width: 15vh;
  }

  .sidebar-header {
    display: flex;
    flex-direction: column;
  }

  .sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }