#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.workbench-main-page {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.workbench-main-page.sidebar-open {
  grid-template-columns: 15vh 80fr;
}